<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tamasha.vedioaudiostreamingapp">

    <uses-sdk tools:overrideLibrary="com.truecaller.android.sdk" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VedioAudioStreamingApp">
        <activity
            android:name=".ui.HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Tamasha.live.NoActionBar" />

        <receiver
            android:name=".network.SmsBroadCastReceiver"
            android:permission="android.permission.SEND_SMS"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Tamasha.live.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.VerifyNumberActivity"
            android:exported="true"
            android:label="@string/title_activity_verify_number"
            android:theme="@style/Theme.Tamasha.live.NoActionBar" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Tamasha.live.NoActionBar">

        </activity>
        <activity
            android:name=".ui.meeting.MeetingActivity"
            android:exported="true"
            android:label="@string/title_activity_meeting"
            android:theme="@style/Theme.Tamasha.live.NoActionBar" />
        <activity
            android:name=".ui.sdkhome.SdkHomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Tamasha.live.NoActionBar" />

        <meta-data
            android:name="com.truecaller.android.sdk.PartnerKey"
            android:value="@string/partnerKey" />
    </application>

</manifest>